[Desktop Entry]
Categories=Settings
Comment[en_BE]=Daemon for the Logitech G19 Keyboard
Comment=Daemon for the Logitech G19 Keyboard
Exec=g19daemon
GenericName[en_BE]=
GenericName=
Icon=/mnt/data/Projecten/Hardware-Monitor-Applet/Logo/HWMA_Logo.ico
MimeType=
Name[en_BE]=g19daemon
Name=g19daemon
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
