Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
ipch/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

build-OHM_Applet_Settings-Desktop_Qt_5_2_0_MinGW_32bit-Debug/
build-OHM_Applet_Settings-Desktop_Qt_5_2_0_MinGW_32bit-Release/
